{% extends 'base.html'%}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Book Collector </title>
</head>
<body>
    <h1>About the Book Collector </h1>
    <p>This is a template</p>
</body>
</html> -->
{% block title %}
  <title> Abbout the Book Collector </title>
{% endblock %}


{% block content %}

  <h1>About the Book Collector </h1>
  <p>This is a template</p>

{% endblock %}